# Virtual environment
venv/

# Config files containing sensitive data
config/config.yaml

# Python cache files
__pycache__/
*.pyc

# Logs
logs/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Data folder
data/